#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.layout{
  height:100vh
}
.trigger {
  font-size:20px;
  margin: 0 15px
}
.app-content{
  height: calc(100vh - 88px);
  overflow-x: scroll;
}
.MenuFlodIcon{
  /* margin: 0 15px; */
  font-size: 20px;
}
.flexWrapper{
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginOutBtn {
  cursor: pointer;
}