
.loginContainer{
  padding: 30px;
  background:#10274C;
  position: absolute;
  bottom:20%;
  left:60%;
  opacity: 0.8;
  border:1px solid #2890FA
}
.iconClass{
  color:white
}
.separateLine{
  display: inline-block;
  font-size: 12px;
  color: #9e9898;
  padding: 0 6px
}
.loginForm .ant-form-item-label > label{
  color:white!important
}
.loginForm  .ant-checkbox + span{
  color: white
}

.loginForm  .itemOnly .ant-form-item-control-input-content {
  border-bottom:1px solid white;
}
.loginForm  .borderOnly input{
  color:rgb(241, 226, 226)
}
.loginForm  .ant-input-suffix >.ant-input-password-icon{
  color:rgb(224, 207, 207);
}

.loginForm .ant-form-item-has-error .ant-input, .loginForm .ant-form-item-has-error .ant-input:focus,.loginForm .ant-form-item-has-error .loginForm .ant-input-affix-wrapper, .loginForm .ant-form-item-has-error .ant-input:hover, .loginForm .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background:none;
  border:none!important;
  border-color:#fff!important
}
 /* .ant-form-item-has-error .ant-form-item-control-input-content .ant-input:focus, .ant-form-item-has-error .ant-form-item-control-input-content .ant-input-affix-wrapper:focus, .ant-form-item-has-error .ant-form-item-control-input-content .ant-input-focused, .ant-form-item-has-error .ant-form-item-control-input-content .ant-input-affix-wrapper-focused, .ant-form-item-has-error .ant-form-item-control-input-content .ant-input-affix-wrapper-borderless{
  background:none;
  border:none!important;
  border-color:#fff!important
} */